In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\coursera\db-capstone-project\.venv\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import mysql.connector as connector

try:
    connection = connector.connect(
        user = 'root',
        password = 'Contrasena'
    )
    print('Connection Successfully')
except Exception as e:
    print('Please review your database connectivity')
    print(e)

Connection Successfully

In [20]:
#Connection to Little Lemon DB
try:
    connection = connector.connect(
        user = 'root',
        password = 'Contrasena',
        db = 'littlelemondb'
    )
    print('Connection Successfully')
except Exception as e:
    print('Please review your connectivity parameters')
    print(e)

Connection Successfully

In [21]:
#Query all tables in the database
try:
    cursor = connection.cursor()
    tables = cursor.execute('SHOW TABLES')

    for table in cursor:
        print(table)
except Exception as e:
    print(e)

('bookings',)
('customers',)
('menu_items',)
('menus',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff',)

In [54]:
#JOIN two tables in the database
try:
    cursor.execute("""
    SELECT orders.total_cost, customers.name, customers.phone, customers.email 
    FROM orders 
    INNER JOIN customers 
    ON orders.customer_id = customers.customer_id 
    WHERE orders.total_cost > 60 
    ORDER BY orders.total_cost DESC;
    """)

    print(cursor.column_names)
    
    customers = cursor.fetchall()
    for customer in customers:
        print(customer)
        
except Exception as e:
    print(e)

('total_cost', 'name', 'phone', 'email')
(Decimal('2000.00'), 'Franco', 914728217, 'ffonsecaes@gmail.com')
(Decimal('1500.00'), 'Fiorella', 997467859, 'fiorella@gmail.com')
(Decimal('500.00'), 'Fiorella', 997467859, 'fiorella@gmail.com')
(Decimal('500.00'), 'Fiorella', 997467859, 'fiorella@gmail.com')
(Decimal('300.00'), 'Fiorella', 997467859, 'fiorella@gmail.com')
(Decimal('300.00'), 'Estefania', 992019575, 'stfaniaquiroz@gmail.com')
(Decimal('200.00'), 'Estefania', 992019575, 'stfaniaquiroz@gmail.com')
(Decimal('150.00'), 'Estefania', 992019575, 'stfaniaquiroz@gmail.com')
(Decimal('100.00'), 'Estefania', 992019575, 'stfaniaquiroz@gmail.com')
(Decimal('90.00'), 'Fiorella', 997467859, 'fiorella@gmail.com')
(Decimal('80.00'), 'Franco', 914728217, 'ffonsecaes@gmail.com')
(Decimal('65.00'), 'Estefania', 992019575, 'stfaniaquiroz@gmail.com')